In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('hiv.xlsx')

In [4]:
df.head()

,Estimated HIV Prevalence% - (Ages 15-49),1979,1980,1981,1982,1983,1984,1985,1986,1987,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.06,0.06,0.06
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.06,0.06,0.1,0.1,0.1,0.1,0.1,NaN,NaN,NaN

In [17]:
df_melt3 = pd.melt(df,id_vars=['Estimated HIV Prevalence% - (Ages 15-49)'], var_name = 'year', value_name= 'HIV')

In [18]:
df_melt3.head()

  Estimated HIV Prevalence% - (Ages 15-49)  year  HIV
0                                 Abkhazia  1979  NaN
1                              Afghanistan  1979  NaN
2                    Akrotiri and Dhekelia  1979  NaN
3                                  Albania  1979  NaN
4                                  Algeria  1979  NaN

In [20]:
df_melt3 = df_melt3.rename(index=str, columns= {'Estimated HIV Prevalence% - (Ages 15-49)': 'country'})

In [21]:
df_melt3.head()

                 country  year  HIV
0               Abkhazia  1979  NaN
1            Afghanistan  1979  NaN
2  Akrotiri and Dhekelia  1979  NaN
3                Albania  1979  NaN
4                Algeria  1979  NaN

In [22]:
df_melt3 = df_melt3.set_index(['country'])

In [23]:
df_melt3.head()

                       year  HIV
country
Abkhazia               1979  NaN
Afghanistan            1979  NaN
Akrotiri and Dhekelia  1979  NaN
Albania                1979  NaN
Algeria                1979  NaN

In [25]:
df_melt3 = df_melt3.reset_index()

In [26]:
df_melt3.head()

                 country  year  HIV
0               Abkhazia  1979  NaN
1            Afghanistan  1979  NaN
2  Akrotiri and Dhekelia  1979  NaN
3                Albania  1979  NaN
4                Algeria  1979  NaN

In [29]:
df_tidy = df_melt3.unstack(level='country')

In [30]:
df_tidy.head()

country  0                 Abkhazia
         1              Afghanistan
         2    Akrotiri and Dhekelia
         3                  Albania
         4                  Algeria
dtype: object

In [31]:
df_melt3.head()

                 country  year  HIV
0               Abkhazia  1979  NaN
1            Afghanistan  1979  NaN
2  Akrotiri and Dhekelia  1979  NaN
3                Albania  1979  NaN
4                Algeria  1979  NaN